.Cards{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}
.Card{
    border-radius: 30px;
    width: 10%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}
.Card:hover{
    transform: scale(1.2);
}
.Card:nth-child(1){
    border: 4px blue solid;
}
.Card:nth-child(2){
    border: 4px red solid;
}
.Card:nth-child(3){
    border: 4px yellow solid;
}
.Card:nth-child(4){
    border: 4px gray solid;
}
.Card:nth-child(5){
    border: 4px aqua solid;
}
.Card:nth-child(6){
    border: 4px brown solid;
}
.Card:nth-child(7){
    border: 4px aquamarine solid;
}