.Card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
    border-radius: 30px;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
.Cima{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 0%;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: transparent;
    overflow: hidden;
}
.Cima .Parte1, .Cima .Parte2, .Cima .Parte3{
    height: 100%;
    width: 33%;
    border-radius: 30px;
    display: flex;
    text-align: center;
    word-break: break-all;
    flex-direction: column;
    justify-content: space-around;
    border: 2px black solid;
    align-items: center;
}
.Cima .Parte1 h1, .Cima .Parte2 h1, .Cima .Parte3 h1{
    color: white;
    text-shadow: -1px 1px 0 #000, 
                          1px 1px 0 #000, 
                         1px -1px 0 #000, 
                        -1px -1px 0 #000; 
}
.Cima .Parte1{
    background-color: transparent;
    border: 5px lightblue solid;
}
.Cima .Parte2{
    background-color: transparent;
    border: 5px lightcyan solid;
}
.Cima .Parte3{
    background-color: transparent;
    border: 5px lightpink solid;
}
.Botoes{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 10%;
}
.Baixo{
    position: relative;
    left: 0%;
    height: 30%;
    width: 100%;
    background-color: transparent;
    border-radius: 0px 0px 30px 30px;
    overflow-y: scroll;
}