.DivVendaRecorrente{
    align-items: center;
    justify-content: center;
    top: 0vh;
    width: 100%;
    position: relative;
    display: flex;
}
.InputVendaRecorrente{
    display: flex;
    width: 70%;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #56bb44;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    text-justify: center;
    color: white;
}

.InputVendaRecorrente::placeholder{
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    text-justify: center;
    color: white;
}