.TabelaFundo{
    position: sticky;
    table-layout: fixed;
    border: 10px 0px 0px 0px;
    border-color: #008000;
    box-shadow: 1px 1px 1px 1px;
    background-color: transparent;
    width: 90%;
    height: 90%;
    border-radius: 30px;
    font-size: 25px;
    max-height: 100%;
    overflow: hidden;
    border-collapse: collapse;
}
.Thead{
    color: white;
    align-items: center;
    text-align: center;
    font-weight: bold;
    overflow: auto;
    height: 25%;
    position: sticky;
    top: 0%;
    background-color:#56bb44;
}
.Th{
    position: sticky;
    top: 0%;
}
.Tbody{
    background-color:#D3D3D3;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.Td{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33%;
    height: 5%;
}

.Spinner{
    width: 56px;
   height: 56px;
   border-radius: 50%;
   background: conic-gradient(#0000 10%,#474bff);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
   animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
    to {
       transform: rotate(1turn);
    }
 }